:root {
	--logo-gap:		1rem;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

/*** Header ***/
body			{ color: white; background-color: black; background: linear-gradient(transparent, black), linear-gradient(to right, rgb(192, 116, 178), rgb(138, 181, 232)); }
h1				{ display: none; }
h1, h2, p, ul	{ max-width: 45rem; }
h1, h2			{ font-family: 'Nunito', sans-serif; font-size: 4em; margin: auto; text-align: left; letter-spacing: 0.2em; margin-top: 1em; }
h2				{ font-size: 3em; letter-spacing: -0.03em; }

p, ul			{ font-family: 'Lato', sans-serif; margin: 2rem auto; padding: 0 1rem; }
li				{ margin-left: 1rem; }
p				{ line-height: 1.5; font-size: x-large; }
code			{ font-size: inherit; color: rgb(255, 255, 200); }
a				{ color: rgb(200, 200, 255); }
button			{ color: white; font-size: 1em; font-weight: bold; border-radius: 3em; background-color: #1ed760; text-transform: uppercase; border: none; padding: 1em 2em; margin: auto; letter-spacing: 0.1em; }

/*** Footer ***/
footer, addr			{ font-family: sans-serif; }
footer					{ display: flex; justify-content: center; align-items: baseline; text-transform: uppercase; }
footer a, footer select	{ margin: 0 0.3em; text-decoration: inherit; }
footer a:hover, addr a:hover	{ text-decoration: underline; }
addr					{ display: block; text-align: center; color: #999; margin: 0.7em; }
addr a					{ color: inherit; text-decoration: inherit; }
